.login{
    width: 100vw;
    height: 100vh;
    background: url('../../image/login.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &-center{
        width: 400px;
        height: 500px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 40px;
        border-radius: 15px;
    }
}