.NavBar{
    .ant-menu-inline .ant-menu-item{
        margin-top: 0 !important;
    }
    height: 100vh !important;
    min-width: 260px !important;
    overflow: auto;
    background-color: #fafafa !important;
    &-logo{
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-size: 26px;
    }
}