.head {
  background: #fff !important;
  height: 64px;
  // width: 100%;
  box-sizing: border-box;
  padding-right: 40px;
  text-align: right;
  position: relative;
  &-btn{
    position: absolute;
    right: 40px;
    // width: 100%;
      user-select: none;
      cursor: pointer;
  }
}
